* {
  font-family: 'Poppins', sans-serif;
  /* box-sizing: border-box; */
}

body {
  background: #f6f6f6;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body-block {
  height: 100%;
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
}

/* Custom CSS */

.header-top {
  width: 100%;
  height: 70px;
  background-color: white;
  border-bottom: 1px rgba(128, 128, 128, 0.267) solid;
}

.toolbar div {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  padding: 24px;
  background: white;
  border-radius: 6px;
  border: 1px rgba(128, 128, 128, 0.267) solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-card {
  width: 420px;
}

.all-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-heding {
  color: blue;
  font-size: 28px;
  font-weight: 500;
}

.login-input {
  padding-left: 10px;
  height: 40px;
  width: 400px;
  background: rgba(128, 128, 128, 0.157);
  outline: none;
  border: 1px rgba(128, 128, 128, 0.267) solid;
  font-size: 20px;
  color: darkslategrey;
}

.login-btn {
  width: 414px;
  height: 46px;
  background: blue;
  border-radius: 2px;
  margin-top: 40px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.login-btn:hover {
  background: rgba(0, 0, 255, 0.698);
}

.login-label {
  color: gray;
  margin-top: 20px;
  margin-bottom: 6px;
  font-weight: 500;
}

.login-card p {
  width: 100%;
  text-align: center;
}

.login-card .highligh-text-color {
  cursor: pointer;
  color: blue;
}

.power-img {
  display: block;
  height: 100px;
  width: 100px;
  margin: auto;
}

.header-top-img {
  width: 50px;
  height: 50px;
}

.power-chat-branding {
  display: inline-block;
  height: 60px;
  color: blue;
  padding: 10px;
  float: left;
}

.logout-btn {
  color: white;
  background: blue;
  border: none;
  outline: none;
  padding: 4px 25px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  cursor: pointer;
}

.logout-btn:hover {
  background: rgba(0, 0, 255, 0.541);
}

.chat-container {
  height: 76vh;
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
  background: white;
  border-radius: 6px;
  border: 1px rgba(128, 128, 128, 0.267) solid;
}

.chat-container-sub {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-header-container, .chat-rest-container {
  flex: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.chat-header-container {
  background: blue;
}

.chat-rest-container {
  flex: 90;
}

.chat-header-search-bar, .chat-header-name-bar, .user-list-container, .chat-list-container {
  flex: 10;
  height: 100%;
  width: 100%;
}

.user-list-container {
  flex: 30;
  border-right: 2px solid rgba(128, 128, 128, 0.267);
  overflow-y: auto;
}

.chat-list-container {
  flex: 70;
  display: flex;
  flex-direction: column;
}

.search-icon {
  color: white;
}

.user-find-circle {
  height: 32px;
  width: 32px;
  padding: 10px;
  border-radius: 1000px;
  background: rgb(0, 0, 192);
  cursor: pointer;
  margin-top: 7px;
}

.user-find-circle:hover {
  background: rgb(0, 0, 109);
}

.chat-header-search-bar {
  height: 60px;
  padding: auto;
  padding-left: 20px;
}

/* pop up styles */

.outer-popup {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.164);
}

.inner-popup {
  width: 60vw;
  height: 70vh;
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.40);
}

.popup-search-container {
  flex: 10;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.40);
  display: flex;
  direction: row;
}

.popup-search-users {
  flex: 80;
  height: 100%;
  width: 100%;
}

.popup-search-add-list {
  flex: 10;
  background: #6f6f6f25;
}

.popup-search-bar {
  flex: 94;
  display: flex;
  align-items: center;
  justify-content: start;
}

.popup-cancel-btn {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup-cancel-btn:hover, .search-item-add:hover, .friend-item:hover {
  background: rgba(128, 128, 128, 0.1);
}

.popup-close-icon {
  color: grey;
}

.popup-search-icon, .popup-add-icon {
  color: blue;
}

.search-input {
  color: #6f6f6f;
  width: 100%;
  border: none;
  outline: none;
  margin-left: 24px;
  font-size: 20px;
}

.search-result-item {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6f6f6f2c;
}

.search-result-item {
  margin: 0;
  padding: 0px 24px;
}

.search-result-item-inner {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.search-item-email {
  color: blue;
}

.search-item-name {
  color: #6f6f6fc0;
  font-style: italic;
  font-size: 14px;
}

.search-item-add {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup-search-add-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  color: #6f6f6f;
}

.no-friends {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #6f6f6f;
}

.sad-icon {
  color: rgba(0, 0, 255, 0.527);
}

.friend-item {
  height: 60px;
  border-bottom: 1px solid #6f6f6f2c;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.friend-item-inner {
  display: flex;
  justify-content: start;
  align-items: center;
}

.friend-name-initial {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 12px;
  border-radius: 1000px;
  background: rgba(0, 0, 255, 0.250);
}

.friend-email {
  font-style: italic;
  color: #6f6f6f;
  font-size: 12px;
}

.chat-data-list {
  flex: 90;
}

.chat-data-controllers {
  background: #6f6f6f25;
  flex: 10;
  display: flex;
}

.send-msg-input {
  flex: 92;
  display: flex;
  align-items: center;
}

.send-msg-input input {
  margin-left: 10px;
  height: 40px;
  background: #6f6f6f4f;
  background: rgba(0, 0, 255, 0.10);
  outline: none;
  border: none;
  width: 100%;
  border-radius: 4px;
  font-size: 18px;
  padding-left: 8px;
}
.send-btn-container {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-btn-wrapper {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.send-btn-wrapper:hover {
  background: rgba(0, 0, 255, 0.10);
}